html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}

/* -- GRID LAYOUT -- */
.grid {
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:1em;
    grid-auto-rows: minmax(100px,auto);
    padding: 0.5em;
}

.grid > div {
    background:#eee;
    padding: 1em;
}

.slidersbox {
    grid-column: 2;
    grid-row: 1;
}

img {
    grid-column: 2;
    grid-row: 2;
    padding: 1em;
}


.mapbox {
    /*position: absolute;*/
    /*display: inline;*/
    float: left;
    width: 50%;
    height: 100vh;
    /*grid-column: 1;
    grid-row: 1/3;*/
}

/* -- SLIDERS -- */
.slidecontainer {
    width: 100%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#loggercontainer { 
    width: 100%; 
    height: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #282830;
    overflow-y: scroll;
}
  
.slider {
    width: 100%; 
    height: 25px; 
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#mainContainer{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: orange;
}

/* -- MAP -- */
#cesiumContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

/* -- IMAGE/VIDEO -- */
#vid{
    position: relative;
    width: 50%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #33333d;
    font-family: 'Roboto Slab', serif;
    float: left;
    color: #d7d7d9;
    /*overflow: hidden;
    float: right;
    justify-content: center;*/
}

#invid{
    padding: 20px;
    border-left-color: #282830;
    border-left-width: 5px;
    border-left-style: solid;
    width: 100%;
    height: 100%;
}

#videoUploaded{
    position: relative;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.input-area{
    flex: 20%;
    flex-direction: column;
    display: flex;
    }

.previewImage{
   width: 100%;
   height: 100%;
   background-color: #282830;
}

#target{
    height: 0;
    margin: 0;
    padding: 0;
}

#videoUploaded{
    height: 0;
    margin: 0;
    padding: 0;
}

.cesium-widget-credits{
    display: none !important;
}