.slidingMenuButton{
    width: 50px;
    height: 50px;
    background-color: gray;
    opacity: 0.8;
    position: relative;
    left: -360px; /*-70 -340*/
    top: 10px;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.slidingMenuButton:hover{
    opacity: 0.99;
}

.slidingMenuButton img{
    width: 100%;
    height: 100%;
    margin: auto auto;
    padding: 0;
}

/* Make into a class if implementing several */
.sideBarContents{
    width: 300px;
    height: 100vh;
    margin-left: 0px;
    position: absolute;
    padding: 20px;
    background-color: red;
    transition-duration: 0.5s;
    display: inline-block;
}

.sideBarClosed{
    right: -340px;
}

.sideBarOpen{
    right: 0px;
}

#sideBarSlidersContainer{
    position: fixed;
    transition-duration: 0.5s;
    width: 300px;
    z-index: 2;
}

#sideBarSlidersButtonContainer{
    position: fixed;
    transition-duration: 0.5s;
    z-index: 2;
    width: 50px;
}

#sideBarFovOptions{
    display: inline;
}